<%= form_with model: @post, url: url, locale: true do |f| %>
  <div>
    <%= f.label :user_id, '작성자'%>
    <div><%= f.text_field :user_id %></div>
  </div>
  <div>
    <%= f.label :title, '제목'%>
    <div><%= f.text_field :title %></div>
  </div>
  <div>
    <%= f.label :content, '글내용'%>
    <div><%= f.text_field :content %></div>
  </div>


  <div>
    <%= f.submit '저장' %>
  </div>

<% end %>