<script>

      $(document).ready(function() {
          var note = $('#post_content');
          note.summernote({
              placeholder: '내용을 입력해주세요',
              tabsize: 2,
              height: 450,
              lang: 'ko-KR',
              toolbar: [
              // [groupName, [list of button]]
              ['fontname', ['fontname']],
              ['fontsize', ['fontsize']],
              ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
              ['color', ['forecolor','color']],
              ['table', ['table']],
              ['para', ['ul', 'ol', 'paragraph']],
              ['height', ['height']],
              ['insert',['picture','link','video']],
              ['view', ['fullscreen', 'help']]
            ],
            fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋음체','바탕체'],
            fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72']
          });
      });
</script>
<%= form_with model: @post, url: url, locale: true do |f| %>
  <div>
    <%= f.label :user_id, '작성자'%>
    <div><%= f.text_field :user_id %></div>
  </div>
  <div>
    <%= f.label :title, '제목'%>
    <div><%= f.text_field :title %></div>
  </div>
  <div>
    <%= f.label :thumbnail_image, '썸네일이미지' %>
    <div><%= f.file_field :thumbnail_image %></div>
  </div>


  <div>
    <%= f.label :CONT, '내용', class: 'col-sm-2 col-form-label' %>
    <div>
      <textarea name="post[content]" id="post_content" rows="10" class="form-control"><%= @post&.content %></textarea>
    </div>
  </div>
  <div>
    <%= f.submit '저장' %>
  </div>

<% end %>
<!-- include summernote css/js -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

