
<%= link_to "Back", :back %>
<%= link_to '목록보기', post_index_path %>
<div>현재 글 번호<%= @post.til_id %></div>
<div><img src="<%= @post&.thumbnail_image %>" alt=""> </div>
<div> <%= @post.title %> </div>
<div> <%= @post.user_id %> </div>
<div>  <%= sanitize @post.content.html_safe %> </div>
<div> 생성일 <%= @post.created_at&.strftime('%Y-%m-%d') %> </div>

<div>이전 글 번호
  <% if @prev_post_id.present? %>
    <%= link_to '이전글', post_admin_path(@prev_post_id) %>
  <% end %>
</div>
<div>다음 글 번호
  <% if @next_post_id.present? %>
    <%= link_to '다음글', post_admin_path(@next_post_id) %>
  <% end %>
</div>
