<head>
<style>
      a:link {text-decoration: none; color: midnightblue;}
      a:visited {text-decoration: none; color: midnightblue;}
      a:active {text-decoration: none; color: midnightblue;}
      a:hover {text-decoration: none; color: midnightblue;}

      header{
          margin: 10px 5px;
          padding: 10px 5px;
          border: 1px solid #730E15;
          padding: 10px;
      }

      section {
          margin: 10px 5px;
          padding: 10px 5px;
          border: 1px solid black;
          border-radius: 10px;
      }

      .section_title {
          font-size: 40px;
      }


      article{
          border: 1px solid saddlebrown ;
          border-radius: 10px;
          margin: 10px 5px;
          padding: 10px 5px;
      }

      .thum_image img {
        width: 100%;
      }

      .btn{
          border: 1px solid chocolate;
          padding: 2px;
      }

      .article_controler{
          /*border: 1px solid palevioletred;*/
          margin: 5px 0 5px 0;
      }

      li {
          list-style: none;
      }

      footer {
          border: 1px solid saddlebrown ;
          border-radius: 5px;
          margin: 10px 5px;
          padding: 10px 5px;
      }

      .colorscripter-code {
        display: grid;
      }
  </style>


</head>


<%= link_to "Back", :back %>
<%= link_to '목록보기', post_index_path %>

<header>
<div>현재 글 번호<%= @post.til_id %></div>
</header>


<article>
  <div class="thum_image"><img src="<%= @post&.thumbnail_image %>" alt=""> </div>
  <div> <%= @post.title %> </div>
  <div> <%= @post.user_id %> </div>
  <div>  <%= @post.content.html_safe %> </div>
  <div> 생성일 <%= @post.created_at&.strftime('%Y-%m-%d') %> </div>

</article>
<section>
  <div>이전 글 번호
    <% if @prev_post_id.present? %>
      <%= link_to '이전글', post_admin_path(@prev_post_id) %>
    <% end %>
  </div>
  <div>다음 글 번호
    <% if @next_post_id.present? %>
      <%= link_to '다음글', post_admin_path(@next_post_id) %>
    <% end %>
  </div>

</section>
